@keyframes bounceIn {
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scaleX(1); } }

@keyframes slideInFromLeft {
  from {
    transform: translateX(-2500px);
    opacity: 0; }
  50% {
    transform: translateX(0);
    opacity: 1; }
  70% {
    transform: translateX(-20px); }
  90% {
    transform: translateX(10px); }
  to {
    transform: translateX(0); } }

body {
  background: url("./images/background.jpg") no-repeat center center fixed;
  background-size: cover; }
  body:after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1734c1;
    opacity: .3;
    z-index: -1; }
  body .application {
    background: none; }

.auth-form, .signup-form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  margin: 45px auto;
  min-width: 272px;
  max-width: 320px;
  animation: bounceIn 1s forwards ease; }

.signup-form {
  animation: slideInFromLeft 1s forwards ease; }

.light-blue--text.text--lighten-1 {
  color: #29b6f6 !important;
  display: flex; }
  .light-blue--text.text--lighten-1 label, .light-blue--text.text--lighten-1 input {
    color: inherit !important; }

.btn--block.green.lighten-1 > button {
  background-color: #66bb6a !important; }

.input-group__prepend-icon {
  align-self: center;
  min-width: 40px;
  padding-top: 20px; }

.input-group__append-icon {
  align-self: center;
  padding-top: 20px;
  cursor: pointer; }

.btn--block {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 6px 0 !important; }
  .btn--block span {
    color: inherit !important; }

.container-home {
  padding: 16px; }

.header-container {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  padding: 0 15px;
  min-width: 272px; }
  .header-container .budgets-header label, .header-container .budgets-header input, .header-container .budgets-header .input-group__append-icon {
    color: #29b6f6 !important; }
  .header-container .budgets-header hr {
    border-top-color: #29b6f6 !important;
    border-right-color: #29b6f6 !important;
    border-left-color: #29b6f6 !important;
    border-bottom-color: #29b6f6 !important; }
  .header-container .clients-header label, .header-container .clients-header input, .header-container .clients-header .input-group__append-icon {
    color: #66bb6a !important; }
  .header-container .clients-header hr {
    border-top-color: #66bb6a !important;
    border-right-color: #66bb6a !important;
    border-left-color: #66bb6a !important;
    border-bottom-color: #66bb6a !important; }
  .header-container > div.row {
    margin-left: 0;
    margin-right: 0; }
  .header-container .text--field {
    width: 100% !important; }
    .header-container .text--field label {
      top: 24px !important; }
    .header-container .text--field input {
      margin-top: 0 !important; }
    .header-container .text--field hr {
      bottom: 22px !important; }
  .header-container i.input-group__append-icon {
    padding-top: 0; }
  .header-container .btn--block {
    margin-top: 15px !important; }
  .header-container .select-field {
    height: 58px !important;
    width: 100% !important; }
    .header-container .select-field.green.lighten-1 {
      color: #66bb6a !important; }
      .header-container .select-field.green.lighten-1 button {
        fill: #66bb6a !important; }
    .header-container .select-field.light-blue.lighten-1 {
      color: #29b6f6 !important; }
      .header-container .select-field.light-blue.lighten-1 button {
        fill: #29b6f6 !important; }
    .header-container .select-field > div {
      color: inherit !important; }
      .header-container .select-field > div > div > div:nth-child(2) {
        color: inherit !important;
        top: 6px !important;
        text-transform: uppercase; }
    .header-container .select-field button {
      top: 10px !important; }
  .header-container div.col-12.offset-lg-1.col-lg-1 {
    padding-right: 0;
    padding-left: 0; }
    .header-container div.col-12.offset-lg-1.col-lg-1 .btn--block.red--text > button > div > div {
      display: flex;
      justify-content: center;
      background-color: #ef5350 !important; }
      .header-container div.col-12.offset-lg-1.col-lg-1 .btn--block.red--text > button > div > div span {
        padding: 0 !important;
        color: #fff !important; }

.home {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 25px auto;
  padding: 15px;
  min-width: 272px; }

.list-header {
  display: none;
  width: 100%; }
  @media (min-width: 601px) {
    .list-header {
      margin: 25px 0 0;
      display: flex; } }
  .list-header .md-list-header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.42);
    padding: 0 15px;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    font-size: 22px; }
    @media (min-width: 601px) {
      .list-header .md-list-header {
        justify-content: flex-start; } }

span[role=menuitem] {
  text-transform: uppercase !important; }

.list-body {
  display: flex;
  flex-direction: column; }
  .list-body .md-list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0; }
    @media (min-width: 960px) {
      .list-body .md-list-item {
        flex-direction: row;
        margin: 0; } }
    .list-body .md-list-item .md-budget-info, .list-body .md-list-item .md-client-info {
      flex-basis: 25%;
      width: 100%;
      background-color: rgba(0, 175, 255, 0.45);
      border: 1px solid rgba(255, 255, 255, 0.42);
      padding: 0 15px;
      display: flex;
      height: 35px;
      align-items: center;
      justify-content: center; }
      .list-body .md-list-item .md-budget-info:first-of-type, .list-body .md-list-item .md-client-info:first-of-type, .list-body .md-list-item .md-budget-info:nth-of-type(2), .list-body .md-list-item .md-client-info:nth-of-type(2) {
        text-transform: capitalize; }
      .list-body .md-list-item .md-budget-info:nth-of-type(3), .list-body .md-list-item .md-client-info:nth-of-type(3) {
        text-transform: uppercase; }
      @media (min-width: 601px) {
        .list-body .md-list-item .md-budget-info, .list-body .md-list-item .md-client-info {
          justify-content: flex-start; } }
    .list-body .md-list-item .md-client-info {
      background-color: rgba(102, 187, 106, 0.45) !important; }
      .list-body .md-list-item .md-client-info:nth-of-type(2) {
        text-transform: none; }
    .list-body .md-list-item .budget-actions, .list-body .md-list-item .client-actions {
      flex-basis: 25%;
      display: flex;
      background-color: rgba(0, 175, 255, 0.45);
      border: 1px solid rgba(255, 255, 255, 0.42);
      align-items: center;
      justify-content: center; }
      .list-body .md-list-item .budget-actions .btn, .list-body .md-list-item .client-actions .btn {
        min-width: 45px !important;
        margin: 0 5px !important; }
    .list-body .md-list-item .client-actions {
      background-color: rgba(102, 187, 106, 0.45) !important; }

.speed-dial--right {
  right: 16px; }

.speed-dial--fixed {
  position: fixed; }

.speed-dial--bottom {
  bottom: 16px; }

.btn--floating {
  color: #fff; }

.red.lighten-1 {
  background-color: #ef5350 !important;
  border-color: #ef5350 !important; }

.btn--floating {
  border-radius: 50%;
  min-width: 0;
  height: 56px;
  width: 56px;
  padding: 0;
  z-index: 4;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12); }

.btn--raised {
  will-change: box-shadow;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); }
  .btn--raised:focus {
    box-shadow: none; }
  .btn--raised:hover {
    background-color: #f16a67 !important; }

.btn--floating .btn__content {
  flex: 1 1 auto;
  margin: 0;
  padding: 0; }

.btn__content {
  align-items: center;
  border-radius: inherit;
  color: inherit;
  display: flex;
  height: 100%;
  flex: 1 0 auto;
  justify-content: center;
  margin: 0 auto;
  padding: 0 16px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  white-space: nowrap; }

.btn .btn__content .icon {
  color: inherit; }

.btn--floating .icon {
  height: 24px;
  width: 24px; }

.btn--floating .icon:not(:only-of-type):last-of-type {
  opacity: 0;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: calc(50% - 12px);
  top: calc(50% - 12px); }

.btn--floating.btn--active .icon:not(:only-of-type):first-of-type {
  opacity: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: -1150%;
  top: -1150%; }

.btn--floating.btn--active .icon:not(:only-of-type):last-of-type {
  opacity: 1;
  -webkit-transform: none;
  transform: none; }

.speed-dial--direction-top .speed-dial__list {
  flex-direction: column-reverse;
  bottom: 100%; }

.speed-dial--direction-bottom .speed-dial__list, .speed-dial--direction-top .speed-dial__list {
  left: 0;
  width: 100%; }

.speed-dial__list {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute; }

.my-tooltip {
  position: relative; }

.my-tooltip::after {
  background: #616161;
  border-radius: 2px;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  opacity: 0;
  top: 12px;
  right: 105%;
  white-space: nowrap;
  padding: 5px 8px;
  position: absolute;
  visibility: hidden;
  text-transform: none;
  transition: 0.15s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); }

.my-tooltip:hover::after {
  opacity: 1;
  visibility: visible; }

.speed-dial__list .btn:first-child {
  transition-delay: .05s; }

.btn--floating.btn--small {
  height: 40px;
  width: 40px; }

.btn--flat {
  background-color: transparent !important;
  box-shadow: none !important; }

.yellow--text.text--accent-1 {
  color: #ffff8d !important; }

.red--text.text--lighten-1 {
  color: #ef5350 !important; }

.btn--small {
  font-size: 13px;
  height: 28px;
  margin: 6px 8px; }
  .btn--small.light-blue.lighten-1 {
    background-color: #29b6f6 !important; }
  .btn--small.green.lighten-1 {
    background-color: #66bb6a !important; }
  .btn--small.purple.lighten-2 {
    background-color: #ba68c8 !important; }
  .btn--small.deep-orange.lighten-2 {
    background-color: #ff8a65 !important; }

.btn--floating.btn--small.btn--floating .icon {
  left: calc(50% - 9px);
  top: calc(50% - 9px); }

.btn--floating.btn--small .icon {
  font-size: 18px;
  height: 18px;
  width: 18px; }

.icon {
  align-items: center;
  display: inline-flex;
  font-size: 24px;
  justify-content: center;
  line-height: 1;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  vertical-align: middle; }

.uppercased {
  text-transform: uppercase; }

.budget-creation label, .budget-creation input, .budget-creation .icon, .budget-creation textarea {
  color: #29b6f6 !important; }

.budget-creation .fieldWrapper {
  position: relative;
  display: block; }
  .budget-creation .fieldWrapper > div.text--field.light-blue.lighten-1 {
    width: 100% !important; }
    .budget-creation .fieldWrapper > div.text--field.light-blue.lighten-1.text--area {
      padding: 30px 0 0 13px !important;
      border: 2px solid rgba(245, 245, 245, 0.52) !important; }
      .budget-creation .fieldWrapper > div.text--field.light-blue.lighten-1.text--area textarea {
        margin-top: 0 !important; }
      .budget-creation .fieldWrapper > div.text--field.light-blue.lighten-1.text--area hr {
        display: none; }

.budget-creation .prefix {
  position: absolute;
  left: -12px;
  bottom: 9px;
  font-weight: 600; }

.budget-creation > div.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.budget-creation .select-field {
  width: 100% !important; }
  .budget-creation .select-field.light-blue.lighten-1 {
    color: #29b6f6 !important; }
    .budget-creation .select-field.light-blue.lighten-1 button {
      fill: #29b6f6 !important; }
  .budget-creation .select-field > div {
    color: inherit !important; }
    .budget-creation .select-field > div > div > div:nth-child(2) {
      color: inherit !important;
      top: 6px !important;
      text-transform: uppercase; }
  .budget-creation .select-field button {
    top: 10px !important; }

.budget-creation hr {
  border-top-color: #29b6f6 !important;
  border-right-color: #29b6f6 !important;
  border-left-color: #29b6f6 !important;
  border-bottom-color: #29b6f6 !important; }

.md-budget-state-hint {
  margin: 10px 0;
  display: block;
  width: 100%; }

.md-budget-state {
  background-color: rgba(41, 182, 246, 0.6);
  display: flex;
  height: 35px;
  width: 100%;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin: 10px 0 15px; }

.budget-item {
  align-items: center;
  width: 100%;
  margin-top: 15px;
  margin-left: 0 !important;
  margin-right: 0 !important; }
  .budget-item div.col-12.col-lg-1 {
    padding-right: 0; }
    .budget-item div.col-12.col-lg-1 .btn--block.red--text > button > div > div {
      display: flex;
      justify-content: center;
      background-color: #ef5350 !important; }
      .budget-item div.col-12.col-lg-1 .btn--block.red--text > button > div > div span {
        padding: 0 !important;
        color: #fff !important; }

.md-budget-item-subtotal {
  font-size: 16px;
  text-align: center;
  display: block; }

.md-budget-item-total {
  font-size: 22px;
  text-align: center;
  display: block;
  width: 100%;
  margin: 30px 0 10px; }

.md-add-item-btn {
  margin-top: 30px !important;
  display: block !important; }
  .md-add-item-btn span {
    color: inherit !important; }
  .md-add-item-btn.green.lighten-1 > button {
    background-color: #66bb6a !important; }

.client-creation label, .client-creation input, .client-creation .icon {
  color: #66bb6a !important; }

.client-creation div.text--field.green.lighten-1 hr {
  border-top-color: #66bb6a !important;
  border-right-color: #66bb6a !important;
  border-left-color: #66bb6a !important;
  border-bottom-color: #66bb6a !important; }
