@keyframes bounceIn {
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scaleX(1); } }

@keyframes slideInFromLeft {
  from {
    transform: translateX(-2500px);
    opacity: 0; }
  50% {
    transform: translateX(0);
    opacity: 1; }
  70% {
    transform: translateX(-20px); }
  90% {
    transform: translateX(10px); }
  to {
    transform: translateX(0); } }

body {
  background: url("./images/background.jpg") no-repeat center center fixed;
  background-size: cover; }
  body:after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1734c1;
    opacity: .3;
    z-index: -1; }
  body .application {
    background: none; }

.auth-form, .signup-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 45px auto;
  min-width: 272px;
  max-width: 320px;
  animation: bounceIn 1s forwards ease; }

.signup-form {
  animation: slideInFromLeft 1s forwards ease; }

.light-blue--text.text--lighten-1 {
  color: #29b6f6 !important;
  display: flex; }
  .light-blue--text.text--lighten-1 label, .light-blue--text.text--lighten-1 input {
    color: inherit !important; }

.input-group__prepend-icon {
  align-self: center;
  min-width: 40px;
  padding-top: 20px; }

.input-group__append-icon {
  align-self: center;
  padding-top: 20px;
  cursor: pointer; }

.btn--block {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 6px 0 !important; }
  .btn--block span {
    color: inherit !important; }

.container-home {
  padding: 16px; }

.header-container {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 0 15px;
  min-width: 272px; }
  .header-container .btn {
    margin-top: 15px; }
