@import "./partials/_animations";
@import "./partials/_variables";

body {
  background: url('./images/background.jpg') no-repeat center center fixed;
  &:after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $background-tint;
    opacity: .3;
    z-index: -1;
  }
}

.auth-form {
  background-color: $background-color;
  padding: 15px;
  margin: 45px auto;
  min-width: 272px;
  max-width: 320px;
  animation: bounceIn 1s forwards ease;
}