@import "./partials/_animations";
@import "./partials/_variables";

body {
  background: url('./images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  &:after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $background-tint;
    opacity: .3;
    z-index: -1;
  }
  .application {
    background: none;
  }
}

.auth-form {
  background-color: $background-color;
  padding: 15px;
  margin: 45px auto;
  min-width: 272px;
  max-width: 320px;
  animation: bounceIn 1s forwards ease;
}

.signup-form {
   @extend .auth-form;
    animation: slideInFromLeft 1s forwards ease;
}

.light-blue--text.text--lighten-1 {
  color: #29b6f6!important;
  display: flex;
   label, input {
     color: inherit !important;
   }
}
.input-group__prepend-icon{
  align-self: center;
  min-width: 40px;
  padding-top: 20px;
}
.input-group__append-icon {
  align-self: center;
  padding-top: 20px;
  cursor: pointer;
}
.btn--block {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 6px 0 !important;

  span {
    color: inherit !important;
  }
}

.container-home {
  padding: 16px;
}
.header-container {
  background-color: $background-color;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 272px;

  >div.row {
    margin-left: 0;
    margin-right: 0;
  }
  .text--field {
    width: 100% !important;

    label {
      top: 24px !important;
    }
    input {
      margin-top: 0 !important;
    }
    hr {
      bottom: 22px !important;
    }
  }

  i.input-group__append-icon{
    padding-top: 0;
  }

  .btn--block {
    margin-top: 15px !important;
  }

  .select-field {
    height: 58px !important;
    width: 100% !important;
    
    >div {
      color: inherit !important;
    }

    button {
      top: 10px !important;
      fill: #29b6f6!important;
    }
  }
  div.col-12.offset-lg-1.col-lg-1 {
    padding-right: 0;
    padding-left: 0;

    .btn--block.red--text>button>div>div {
      display: flex;
      justify-content: center;
      background-color: #ef5350!important;

      span {
        padding: 0 !important;
        color: #fff!important;
      }
    }
  }
}

.home {
  background-color: $background-color;
  margin: 25px auto;
  padding: 15px;
  min-width: 272px;
}

.budget-header {
  display: none;
  width: 100%;

  @media (min-width: 601px) {
    margin: 25px 0 0;
    display: flex;
  }
  
  .md-budget-header {
    width: 100%;
    background-color: $background-color;
    border: 1px solid $border-color-input;
    padding: 0 15px;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    font-size: 22px;

    @media (min-width: 601px) {
      justify-content: flex-start;
    }
  }
}

.budget-body {
  display: flex;
  flex-direction: column;

  .md-budget {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    @media (min-width: 960px) {
      flex-direction: row;
      margin: 0;
    }

    .md-budget-info {
      flex-basis: 25%;
      width: 100%;
      background-color: rgba(0, 175, 255, 0.45);
      border: 1px solid $border-color-input;
      padding: 0 15px;
      display: flex;
      height: 35px;
      align-items: center;
      justify-content: center;

      &:first-of-type, &:nth-of-type(2) {
        text-transform: capitalize;
      }

      &:nth-of-type(3) {
        text-transform: uppercase;
      }

      @media (min-width: 601px) {
        justify-content: flex-start;
      }
    }
    .budget-actions {
      flex-basis: 25%;
      display: flex;
      background-color: rgba(0, 175, 255, 0.45);
      border: 1px solid $border-color-input;
      align-items: center;
      justify-content: center;

      .btn {
        min-width: 45px !important;
        margin: 0 5px !important;
      }
    }
  }
}