@import "./partials/_animations";
@import "./partials/_variables";

body {
  background: url('./images/background.jpg') no-repeat center center fixed;
  &:after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $background-tint;
    opacity: .3;
    z-index: -1;
  }
}

.auth-form {
  background-color: $background-color;
  padding: 15px;
  margin: 45px auto;
  min-width: 272px;
  max-width: 320px;
  animation: bounceIn 1s forwards ease;
}

.signup-form {
    background-color: $background-color;
    padding: 15px;
    margin: 45px auto;
    min-width: 272px;
    max-width: 320px;
    animation: slideInFromLeft 1s forwards ease;
}

.light-blue--text.text--lighten-1 {
  color: #29b6f6!important;
  display: flex;
   label, input {
     color: inherit !important;
   }
}
.input-group__prepend-icon{
  align-self: center;
  min-width: 40px;
  padding-top: 20px;
}
.input-group__append-icon {
  align-self: center;
  padding-top: 20px;
  cursor: pointer;
}
.btn--block {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 6px 0 !important;

  span {
    color: inherit !important;
  }
}